# This is a basic workflow to help you get started with Actions

name: 'open chroome do test1 china1'

# Controls when the workflow will run
on:
  # Triggers the workflow
  schedule:
    - cron: '0 3 * * *'
     
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  bot1:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - run: |
          pip install webdriver-manager
          pip install -r ./Spider/requirements.txt
          python ./Spider/test1.py